START:
    PSH 72
    PRC
    PSH 101
    PRC
    PSH 108
    PRC
    PSH 108
    PRC
    PSH 111
    PRC
    PSH 32
    PRC
    PSH 87
    PRC
    PSH 111
    PRC
    PSH 114
    PRC
    PSH 108
    PRC
    PSH 100
    PRC
    PSH 33
    PRC